.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F8F8;
  padding: 20px;
  text-align: center;
}
div.modal-header{
  color: black;
}
div.modal-body{
  color: black;
}
body {
  color: white;
  background-color: rgb(13, 31, 43);
}


main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 1000px;
  padding-bottom: 5rem;
}
.logoutBtn {
  /* background-image: url('../public/images/GalaxyMtn.png'); */
  border: 1px solid #de3c3c;
  color: #FFFFFF;
  background: #333333;
  color: #FFFFFF;
  background: #333333;
  background-color: rgb(35, 40, 42);
  margin-left: 0px;
  float: right;
  
}

.createBtn{
  background-color: rgb(13, 14, 14);
  color: rgb(255, 8, 8); 
  font-size: 23px; 
  line-height: 23px; 
  padding: 7px; 
  border-radius: 10px; 
  font-family: Tahoma, Geneva, sans-serif; 
  font-weight: 700; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: capitalize; 
  /* background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(2, 44, 74) 50%, rgb(61, 25, 25) 100%);  */
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border-top: 4px groove rgba(28, 110, 164, 0.25); 
  border-right: none; 
  border-bottom: none; 
  border-left: none; 
  border-image: initial; 
  display: inline-block;}



.searchBtn{
  background-color: rgb(18, 18, 18);
  border: 1px solid #de3c3c;
  margin: 5px;
  
}

#record {
  margin-top: 50px;
  animation: rotate 2s linear infinite;
  animation-delay: 0s;
  width: 500px;
  height: 500px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
