.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F8F8;
  padding: 20px;
  text-align: center;
}

body {
  color: white;
}

main {
  background-image: url('/Users/danielquinn/School/301-code/JarJar-Beats-FrontEnd/public/images/GalaxyMtn.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 700px;
  
}


