.mt-4 {
  margin: auto 0;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(245, 126, 99);
  animation: glowingBorder 60s infinite;


}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 3px rgb(239, 58, 58);
  }
  50% {
    box-shadow: 0 0 20px rgb(245, 126, 99);
  }
  100% {
    box-shadow: 0 0 15px rgb(245, 165, 99);
  }

}

div.Artist.card {
  margin: 30px;
  /* border-radius: 25px; */
  width: 350px;
  height: 400px;
  overflow: auto;
  /* height: 500px; */
}

.cardBody {
  /* overflow-y: hidden;
  overflow-x: auto; */
}

.card-img {
  width: 90%;
  height: 200px;
  object-fit: cover;
}

.card {
  padding: 10px;
  color:#de3c3c;
  /* background-image: url('../public/images/GalaxyMtn.png'); */
  height: 50px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
 
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heart-icon {
  transition: color 0.3s;
  cursor: pointer;
  font-size: xx-large;
}

.heart-icon:hover {
  color: rgb(38, 116, 176);
}
